.pieces {
    .line {
        display: flex;
        gap: 20px;
    }
    
    .piece {
        background-color: $cardBg;
        border-radius: 12px;
        margin-bottom: 20px;
        width: 100%;

        .header {
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $line;

            .btn {
                border: none;
                background-color: transparent;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

            }
        }

        .content {
            padding: 12px;
        }

        &__turner {
            .turner__button {
                width: 100%;
                height: 40px;
                line-height: 100%;
                align-self: flex-end;
                background-color: $text;
                color: $cardBg;
                border: none;
                border-radius: 0 0 12px 12px;
                cursor: pointer;
            }

            .info {
                display: flex;
                justify-content: space-between;
                width: 100%;

                &__item {
                    display: flex;
                    gap: 4px;
                    align-items: baseline;
                }

                &__name, &__value {
                        font-size: 12px;
                        font-weight: 600;
                        display: block;
                        color: $text;
                    }

                &__value {
                    padding: 2px 5px;
                    background-color: $bg;
                    border-radius: 2rem;
                }
            }

            .turn {
                display: grid;
                gap: 4px;

                &__name {
                    font-size: 12px;
                    font-weight: 600;
                    display: block;
                    color: $text;
                    opacity: .5;
                    margin-bottom: 4px;
                }
            }
        }

        &__timer, &__stopwatch, &__dice {
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 24px;

                .time {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
            }
        }

        &__playerStatus {
            .content {
                display: flex;
            flex-direction: column;
            gap: 16px;
            justify-content: space-between;
            align-items: flex-start;
            }

            button {
                background-color: transparent;
                border: none;
                padding: 2px 4px;
                font-weight: 600;
            }

            .stats {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
        
                .stat {
                    width: fit-content;
                    display: grid;
                    gap: 2px;
                    align-content: center;
                    justify-content: center;
                    background-color: $bg;
                    border-radius: 0.6rem;
                    padding: 0.5rem;
                    flex: 1;
        
                    &__name {
                        display: block;
                        text-align: center;
                        font-size: 0.8rem;
                        opacity: .5;
                        text-transform: capitalize;
                    }
        
                    &__controls {
                        display: flex;
                    }

                    &__value {
                        width: 40px;
                        font-size: 1rem;
                        text-align: center;
                        border: none;
                        background-color: transparent;
                    }

                    &__control {
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        border: 2px solid $cardBg;
                        cursor: pointer;
                    }
                }
            }
        }

        &__helpers {

            .content{
                display: flex;
                justify-content: space-between;
            }

            .helper {
                display: flex;
                gap: 8px;
                text-decoration: none;
                color: $text;
                margin-bottom: 12px;
                font-weight: 600;

                &__icon {
                    opacity: .5;
                }
                
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .info {

                &__item {
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .title, .value {
                        font-size: 12px;
                        font-weight: 600;
                        display: block;
                        color: $text;
                    }

                    .title {
                        opacity: .5;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }

    .controls {
        display: flex;
        gap: 8px;

        .buttons {
            padding: 0;
            width: fit-content;
            height: fit-content;
            background-color: transparent;
            border: none;
        }
    }
}
